#weathernews
    padding: 100px 0
    .box
        display: flex
        flex-direction: column
        align-items: center
        width: 300px
        height: 410px
        background-color: #a4caff
        border-radius: 20px
        padding: 30px
        text-align: center
        h1,h2
            font-size: 23px
            font-family: 500
            margin-bottom: 25px
            color: #ffffff
        input
            width: 160px
            height: 38px
            border-radius: 18px
        .txt
            width: 120px
            height: 33px
            background-color: #79afff
            border-radius: 19px
            padding: 6px
            margin-top: 25px
            h4
                font-size: 19px
                color: #ffffff
                cursor: pointer